*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

/****** Global Styles ******/
:root {
  --clr-soft-blue: hsl(231, 69%, 60%);
  --clr-soft-red: hsl(0, 94%, 66%);
  --clr-grayish-blue: hsl(229, 8%, 60%);
  --clr-grayish: hsl(0, 0%, 95%);
  --clr-dark-blue: hsl(229, 31%, 21%);
  --clr-soft-blue-500: hsla(229, 31%, 21%, 0.9);
  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --base-font-size: 18px;
  --font-Rubik: "Rubik", sans-serif;
  --shadow: 0px 5px 5px 4px hsla(237, 85%, 94%, 0.6);
  --border-radius: 5px; }

html {
  scroll-behavior: smooth; }

body {
  font-family: var(--font-Rubik);
  font-size: var(--base-font-size); }

a {
  display: inline-block;
  text-decoration: none;
  color: inherit; }

li {
  list-style: none; }

h1,
h2,
h3,
h4 {
  color: var(--clr-dark-blue);
  font-weight: 500;
  text-transform: capitalize; }

h1 {
  font-size: 3rem; }
  @media screen and (max-width: 768px) {
    h1 {
      font-size: 2.5rem; } }

h2 {
  font-size: 2.5rem; }
  @media screen and (max-width: 768px) {
    h2 {
      font-size: 2rem; } }

h3 {
  font-size: 2rem; }
  @media screen and (max-width: 768px) {
    h3 {
      font-size: 1.5rem; } }

p {
  margin: 30px 0px;
  color: var(--clr-grayish-blue); }

img {
  max-width: 100%;
  vertical-align: middle; }

button {
  font-family: var(--font-Rubik);
  font-size: var(--base-font-size);
  border: none;
  outline: none;
  background: none; }

.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto; }

.container {
  max-width: 1120px;
  padding-left: 30px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

.container-mini {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto; }

section {
  padding-top: 100px;
  padding-bottom: 100px; }

.bg_red {
  background-color: var(--clr-soft-red);
  color: var(--clr-white); }

.bg_soft-blue {
  background-color: var(--clr-soft-blue);
  color: var(--clr-white); }

.bg_grayish {
  background-color: var(--clr-grayish);
  color: var(--clr-dark-blue);
  -webkit-box-shadow: var(--shadow);
          box-shadow: var(--shadow); }

.btn-filled {
  padding: 15px 30px;
  border-radius: var(--border-radius); }

.mr-xs {
  margin-right: 15px; }
  @media screen and (max-width: 576px) {
    .mr-xs {
      margin-right: 0;
      margin-bottom: 15px; } }

.push-0x {
  -webkit-transform: translateY(calc(3rem * 0));
          transform: translateY(calc(3rem * 0)); }

.push-1x {
  -webkit-transform: translateY(calc(3rem * 1));
          transform: translateY(calc(3rem * 1)); }

.push-2x {
  -webkit-transform: translateY(calc(3rem * 2));
          transform: translateY(calc(3rem * 2)); }

/* Header Section */
header {
  margin: 30px 0px; }
  header .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative; }
    header .navigation .nav-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      @media screen and (max-width: 768px) {
        header .navigation .nav-links {
          display: none; } }
    header .navigation .nav-items {
      padding-left: 20px;
      padding-right: 20px; }
      header .navigation .nav-items:last-of-type {
        padding-right: 0; }
    header .navigation .nav-item {
      text-transform: uppercase; }
    header .navigation .mobile-menu {
      display: none; }
      @media screen and (max-width: 768px) {
        header .navigation .mobile-menu {
          display: block; } }
    header .navigation .btn-filled {
      padding: 15px 40px; }
    header .navigation .mobile-menu-close {
      display: none; }

/* Hero Section */
#hero .hero_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  @media screen and (max-width: 1024px) {
    #hero .hero_content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: reverse;
          -ms-flex-direction: column-reverse;
              flex-direction: column-reverse; } }

#hero .hero_texts {
  text-align: left;
  width: 50%; }
  @media screen and (max-width: 1024px) {
    #hero .hero_texts {
      width: 100%;
      text-align: center; } }

#hero .hero-img {
  width: 50%;
  position: relative; }
  @media screen and (max-width: 1024px) {
    #hero .hero-img {
      width: 100%;
      margin-right: 0; } }
  @media screen and (min-width: 1440px) {
    #hero .hero-img {
      margin-right: -5rem; } }
  #hero .hero-img::after {
    position: absolute;
    content: "";
    height: 80%;
    width: 90%;
    background: var(--clr-soft-blue);
    z-index: -1;
    right: -10%;
    bottom: 0%;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%; }

/* Features Section */
#features {
  /* Style the tab */
  /* Style the tab content */ }
  #features .tab {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-bottom: 1px solid var(--clr-grayish);
    /* Style the buttons that are used to open the tab content */ }
    @media screen and (min-width: 1440px) {
      #features .tab {
        max-width: 60%; } }
    #features .tab button {
      cursor: pointer;
      -webkit-transition: 0.3s;
      transition: 0.3s;
      position: relative;
      padding: 20px 30px; }
      @media screen and (max-width: 768px) {
        #features .tab button {
          padding: 20px 10px;
          margin: auto 20px; } }
      #features .tab button::after {
        position: absolute;
        content: "";
        width: 0%;
        height: 0;
        bottom: 0;
        left: 0;
        border-bottom: 3px solid var(--clr-soft-red);
        -webkit-transition: width 0.3s ease-out;
        transition: width 0.3s ease-out; }
      #features .tab button:hover::after, #features .tab button.active::after {
        width: 100%; }
  #features .tabcontent {
    margin-top: 4rem;
    display: none;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
            animation: fadeEffect 1s;
    /* Fading effect takes 1 second */
    /* Go from zero to full opacity */ }
    @media screen and (max-width: 768px) {
      #features .tabcontent {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }

@-webkit-keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeEffect {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
    #features .tabcontent .tabcontent_text,
    #features .tabcontent .tabcontent_img {
      width: 50%; }
      @media screen and (max-width: 768px) {
        #features .tabcontent .tabcontent_text,
        #features .tabcontent .tabcontent_img {
          width: 100%; } }
    #features .tabcontent .tabcontent_text {
      text-align: left;
      padding-left: 5rem;
      margin-top: auto;
      margin-bottom: auto; }
      @media screen and (min-width: 1440px) {
        #features .tabcontent .tabcontent_text {
          padding-left: 10rem; } }
      @media screen and (max-width: 768px) {
        #features .tabcontent .tabcontent_text {
          padding-left: 0;
          text-align: center;
          margin-top: 3rem; } }
    #features .tabcontent .tabcontent_img {
      position: relative; }
      #features .tabcontent .tabcontent_img::after {
        position: absolute;
        content: "";
        height: 100%;
        width: 100%;
        background: var(--clr-soft-blue);
        z-index: -1;
        left: -20%;
        bottom: -20%;
        border-top-right-radius: 40%;
        border-bottom-right-radius: 40%; }

/* Extension Section */
#extension {
  --space: 2.5rem; }
  #extension .cards {
    margin-left: calc(var(--space) / 2 * -1);
    margin-right: calc(var(--space) / 2 * -1); }
  #extension .card {
    margin-top: 100px;
    margin-bottom: 100px;
    display: inline-block;
    -webkit-box-shadow: var(--shadow);
            box-shadow: var(--shadow);
    margin-left: calc(var(--space) / 2);
    margin-right: calc(var(--space) / 2);
    padding: 1.5rem;
    border-radius: calc(var(--border-radius) * 2);
    position: relative; }
    #extension .card_img {
      padding: 2rem 0; }
    #extension .card_contents p {
      margin-top: 1rem; }
    #extension .card_cta {
      padding-top: 2rem; }
    #extension .card::before {
      position: absolute;
      content: "";
      background: url(./../images/bg-dots.svg);
      height: 3px;
      width: 100%;
      left: 0;
      bottom: 6.5rem; }
    @media screen and (max-width: 1024px) {
      #extension .card {
        -webkit-transform: translateY(0);
                transform: translateY(0);
        margin-bottom: 0; } }

/* FAQ Section */
#faq .accordion {
  margin: 60px auto;
  /* Style the buttons that are used to open and close the accordion panel */
  /* Style the accordion panel. Note: hidden by default */ }
  #faq .accordion_title {
    border-top: 1px solid var(--clr-grayish);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: relative;
    /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */ }
    #faq .accordion_title:last-of-type {
      border-bottom: 2px solid var(--clr-grayish); }
    #faq .accordion_title:hover {
      color: var(--clr-soft-red); }
    #faq .accordion_title.active .accordion_arrow {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
      #faq .accordion_title.active .accordion_arrow path {
        stroke: var(--clr-soft-red); }
  #faq .accordion_panel {
    text-align: left;
    padding: 0 18px;
    background-color: white;
    overflow: hidden;
    max-height: 0;
    -webkit-transition: max-height 0.2s ease-out;
    transition: max-height 0.2s ease-out; }
  #faq .accordion_arrow {
    -webkit-transition: all 0.1s ease-out;
    transition: all 0.1s ease-out;
    position: absolute;
    right: 0; }
    #faq .accordion_arrow path {
      stroke: var(--clr-soft-blue); }

/* Newsletter Section */
#newsletter p {
  color: var(--clr-white);
  text-transform: uppercase;
  margin: 0; }

#newsletter h3 {
  color: var(--clr-white);
  margin: 50px auto; }

#newsletter input {
  display: inline-block;
  height: 3.2rem;
  padding: 1rem 4rem 1rem 2rem;
  margin-right: 15px;
  border: none;
  border-radius: var(--border-radius);
  font-family: var(--font-Rubik);
  font-size: var(--base-font-size);
  color: var(--clr-dark-blue); }
  @media screen and (max-width: 576px) {
    #newsletter input {
      margin-right: 0;
      padding: 0 0 0 1.5rem;
      width: 100%; } }

#newsletter button[type="submit"] {
  text-transform: capitalize;
  cursor: pointer; }
  @media screen and (max-width: 576px) {
    #newsletter button[type="submit"] {
      margin-top: 1rem;
      display: inline-block;
      height: 3.2rem;
      width: 100%; } }

/* Footer Section */
.footer {
  padding: 0;
  background-color: var(--clr-dark-blue); }
  .footer_wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media screen and (max-width: 768px) {
      .footer_wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        padding: 2rem 0; } }
  .footer_left, .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  @media screen and (max-width: 768px) {
    .footer_left {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }
  .footer_social a {
    margin: 15px 20px; }
  .footer .brand {
    color: var(--clr-white); }
  .footer ul {
    margin-left: 2rem; }
    @media screen and (max-width: 768px) {
      .footer ul {
        margin-left: 0; } }
  .footer li a {
    margin: 30px 20px;
    text-transform: uppercase;
    color: var(--clr-white); }
    @media screen and (max-width: 768px) {
      .footer li a {
        display: block; } }

/* On mobile nav open */
body.nav-open {
  -webkit-animation-name: clipOpen;
          animation-name: clipOpen;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards; }

@-webkit-keyframes clipOpen {
  from {
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%); }
  to {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%); } }

@keyframes clipOpen {
  from {
    -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%); }
  to {
    -webkit-clip-path: circle(100% at 50% 50%);
            clip-path: circle(100% at 50% 50%); } }
  body.nav-open .navigation {
    background-color: var(--clr-soft-blue-500);
    color: var(--clr-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0; }
    body.nav-open .navigation .nav-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      position: absolute;
      top: 7rem;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 100%; }
    body.nav-open .navigation .nav-items {
      padding: 25px 0;
      margin: 0 25px;
      width: 90%;
      border-top: 1px solid var(--clr-grayish);
      font-size: 1.5rem; }
    body.nav-open .navigation .brand {
      position: absolute;
      top: 40px;
      left: 50px; }
      body.nav-open .navigation .brand path,
      body.nav-open .navigation .brand circle {
        fill: var(--clr-white); }
      body.nav-open .navigation .brand path:last-child {
        fill: var(--clr-soft-blue-500); }
    body.nav-open .navigation .mobile-menu {
      display: none; }
    body.nav-open .navigation .mobile-menu-close {
      display: block;
      position: absolute;
      top: 40px;
      right: 40px; }
    body.nav-open .navigation .brand,
    body.nav-open .navigation .mobile-menu-close {
      -webkit-transform: scale(1.3);
              transform: scale(1.3); }
    body.nav-open .navigation .bg_red {
      background-color: transparent;
      border: 2px solid var(--clr-white);
      width: 100%; }
  body.nav-open .footer_social {
    position: fixed;
    bottom: 1rem; }
/*# sourceMappingURL=style.css.map */