*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$phone: "(max-width: 576px)";
$tablet: " (max-width: 768px)";
$desktop: "(max-width: 1024px)";
$desktop-xl: "(min-width: 1440px)";

/****** Global Styles ******/
:root {
  // Primary Colors
  --clr-soft-blue: hsl(231, 69%, 60%);
  --clr-soft-red: hsl(0, 94%, 66%);
  // Neutral Colors
  --clr-grayish-blue: hsl(229, 8%, 60%);
  --clr-grayish: hsl(0, 0%, 95%);
  --clr-dark-blue: hsl(229, 31%, 21%);

  --clr-white: hsl(0, 0%, 100%);
  --clr-black: hsl(0, 0%, 0%);
  --base-font-size: 18px;

  --font-Rubik: "Rubik", sans-serif;

  --shadow: 0px 5px 5px 4px hsla(237, 85%, 94%, 0.6);

  --border-radius: 5px;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-Rubik);
  font-size: var(--base-font-size);
}
a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}
li {
  list-style: none;
}

h1,
h2,
h3,
h4 {
  color: var(--clr-dark-blue);
  font-weight: 500;
  text-transform: capitalize;
}
h1 {
  font-size: 3rem;
  @media screen and #{$tablet} {
    font-size: 2.5rem;
  }
}
h2 {
  font-size: 2.5rem;
  @media screen and #{$tablet} {
    font-size: 2rem;
  }
}
h3 {
  font-size: 2rem;
  @media screen and #{$tablet} {
    font-size: 1.5rem;
  }
}
p {
  margin: 30px 0px;
  color: var(--clr-grayish-blue);
}
img {
  max-width: 100%;
  vertical-align: middle;
}
button {
  font-family: var(--font-Rubik);
  font-size: var(--base-font-size);
  border: none;
  outline: none;
  background: none;
}
.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
}
.container {
  max-width: 1120px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.container-mini {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}
//****** Utilities ******//
.bg_red {
  background-color: var(--clr-soft-red);
  color: var(--clr-white);
}
.bg_soft-blue {
  background-color: var(--clr-soft-blue);
  color: var(--clr-white);
}
.bg_grayish {
  background-color: var(--clr-grayish);
  color: var(--clr-dark-blue);
  box-shadow: var(--shadow);
}
.btn-filled {
  padding: 15px 30px;
  border-radius: var(--border-radius);
}

.mr-xs {
  margin-right: 15px;
  @media screen and #{$phone} {
    margin-right: 0;
    margin-bottom: 15px;
  }
}

.push-0x {
  transform: translateY(calc(3rem * 0));
}
.push-1x {
  transform: translateY(calc(3rem * 1));
}
.push-2x {
  transform: translateY(calc(3rem * 2));
}
/* Header Section */
header {
  margin: 30px 0px;
  .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .nav-links {
      @media screen and #{$tablet} {
        display: none;
      }
      display: flex;
      align-items: center;
    }
    .nav-items {
      padding-left: 20px;
      padding-right: 20px;
      &:last-of-type {
        padding-right: 0;
      }
    }
    .nav-item {
      text-transform: uppercase;
    }
    .mobile-menu {
      display: none;
      @media screen and #{$tablet} {
        display: block;
      }
    }
    .btn-filled {
      padding: 15px 40px;
    }
  }
}
/* Hero Section */
#hero {
  .hero_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    @media screen and #{$desktop} {
      flex-direction: column-reverse;
    }
  }
  .hero_texts {
    text-align: left;
    margin-right: 3rem;
    width: 50%;
    @media screen and #{$desktop} {
      width: 100%;
      text-align: center;
      margin-right: 0;
    }
  }
  .hero-img {
    width: 45%;
    @media screen and #{$desktop} {
      width: 100%;
      margin-right: 0;
    }
    @media screen and #{$desktop-xl} {
      margin-right: -5rem;
    }
  }
}

/* Features Section */
#features {
  /* Style the tab */
  .tab {
    @media screen and #{$desktop-xl} {
      max-width: 60%;
    }
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-bottom: 1px solid var(--clr-grayish);
    /* Style the buttons that are used to open the tab content */
    button {
      cursor: pointer;
      transition: 0.3s;
      position: relative;
      padding: 20px 30px;
      @media screen and #{$tablet} {
        padding: 20px 10px;
        margin: auto 20px;
      }
      &::after {
        position: absolute;
        content: "";
        width: 0%;
        height: 0;
        bottom: 0;
        left: 0;
        border-bottom: 3px solid var(--clr-soft-red);
        transition: width 0.3s ease-out;
      }
      &:hover::after,
      &.active::after {
        width: 100%;
      }
    }
  }
  /* Style the tab content */
  .tabcontent {
    margin-top: 4rem;
    display: none;
    flex-wrap: wrap;
    padding: 6px 12px;
    animation: fadeEffect 1s; /* Fading effect takes 1 second */
    @media screen and #{$tablet} {
      flex-direction: column;
    }

    /* Go from zero to full opacity */
    @keyframes fadeEffect {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    .tabcontent_text,
    .tabcontent_img {
      width: 50%;
      @media screen and #{$tablet} {
        width: 100%;
      }
    }
    .tabcontent_text {
      text-align: left;
      padding-left: 5rem;
      margin-top: auto;
      margin-bottom: auto;
      @media screen and #{$desktop-xl} {
        padding-left: 10rem;
      }
      @media screen and #{$tablet} {
        padding-left: 0;
        text-align: center;
        margin-top: 3rem;
      }
    }
  }
}

/* Extension Section */
#extension {
  --space: 2.5rem;
  .cards {
    margin-left: calc(var(--space) / 2 * -1);
    margin-right: calc(var(--space) / 2 * -1);
  }
  .card {
    margin-top: 100px;
    margin-bottom: 100px;
    display: inline-block;
    box-shadow: var(--shadow);
    margin-left: calc(var(--space) / 2);
    margin-right: calc(var(--space) / 2);
    padding: 1.5rem;
    border-radius: calc(var(--border-radius) * 2);
    &_img {
      padding: 2rem 0;
    }
    &_contents {
      p {
        margin-top: 1rem;
      }
    }
    &_cta {
      padding-top: 2rem;
    }
    position: relative;
    &::before {
      position: absolute;
      content: "";
      background: url(./../images/bg-dots.svg);
      height: 3px;
      width: 100%;
      left: 0;
      bottom: 6.5rem;
    }

    @media screen and #{$desktop} {
      transform: translateY(0);
      margin-bottom: 0;
    }
  }
}
/* FAQ Section */
#faq {
  .accordion {
    margin: 60px auto;
    /* Style the buttons that are used to open and close the accordion panel */
    &_title {
      border-top: 1px solid var(--clr-grayish);
      cursor: pointer;
      padding: 18px;
      width: 100%;
      text-align: left;
      transition: 0.4s;
      position: relative;
      &:last-of-type {
        border-bottom: 2px solid var(--clr-grayish);
      }

      /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
      &:hover {
        color: var(--clr-soft-red);
      }
      &.active {
        .accordion_arrow {
          transform: rotate(180deg);
          path {
            stroke: var(--clr-soft-red);
          }
        }
      }
    }
    /* Style the accordion panel. Note: hidden by default */
    &_panel {
      text-align: left;
      padding: 0 18px;
      background-color: white;
      overflow: hidden;
      max-height: 0;
      transition: max-height 0.2s ease-out;
    }
    &_arrow {
      transition: all 0.1s ease-out;
      position: absolute;
      right: 0;
      path {
        stroke: var(--clr-soft-blue);
      }
    }
  }
}

/* Newsletter Section */
#newsletter {
  p {
    color: var(--clr-white);
    text-transform: uppercase;
    margin: 0;
  }
  h3 {
    color: var(--clr-white);
    margin: 50px auto;
  }

  input {
    display: inline-block;
    height: 3.2rem;
    padding: 1rem 5rem 1rem 2rem;
    margin-right: 15px;
    border: none;
    border-radius: var(--border-radius);
    font-family: var(--font-Rubik);
    font-size: var(--base-font-size);
    color: var(--clr-grayish);
    @media screen and #{$phone} {
      margin-right: 0;
      padding: 0 0 0 1.5rem;
      width: 100%;
    }
  }
  button[type="submit"] {
    text-transform: capitalize;
    @media screen and #{$phone} {
      margin-top: 1rem;
      display: inline-block;
      height: 3.2rem;
      width: 100%;
    }
  }
}

/* Footer Section */
.footer {
  padding: 0;
  background-color: var(--clr-dark-blue);
  &_wrapper {
    @media screen and #{$tablet} {
      flex-direction: column;
      padding: 2rem 0;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_left,
  &_social {
    display: flex;
    align-items: center;
  }
  &_left {
    @media screen and #{$tablet} {
      flex-direction: column;
    }
  }
  &_social a {
    margin: 15px 20px;
  }
  .brand {
    color: var(--clr-white);
  }
  ul {
    margin-left: 2rem;
    @media screen and #{$tablet} {
      margin-left: 0;
    }
  }
  li a {
    margin: 30px 20px;
    text-transform: uppercase;
    color: var(--clr-white);
    @media screen and #{$tablet} {
      display: block;
    }
  }
}
